<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.Add_Update_record"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Text_Style"
                class="lable_overflow mgFont1"
            >
                Style
            </label>
            <div>
                <mat-form-field>
                    <div>
                        <input
                            matInput
                            [magic]="mgc.edit_hul_style"
                            [formControlName]="mgc.edit_hul_style"
                            mgFormat
                        >
                        <mgError [magic]=mgc.edit_hul_style> </mgError>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Text_Location"
                class="lable_overflow mgFont1"
            >
                Location
            </label>
            <div>
                <mat-form-field>
                    <div>
                        <input
                            matInput
                            [magic]="mgc.edit_hul_location"
                            [formControlName]="mgc.edit_hul_location"
                            mgFormat
                        >
                        <mgError [magic]=mgc.edit_hul_location> </mgError>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                [magic]="mgc.btnSave"
            >
                Save
            </button>
            <button
                mat-raised-button
                color="primary"
                [magic]="mgc.btnCancel"
            >
                Cancel
            </button>
        </div>
    </div>
</div>