<div novalidate [formGroup]="screenFormGroup" class="OverlayForm">
    <div style="display: flex; flex-direction: column" [magic]="mgc.IturHulCrud">

        <div class="OverlayBar"><i class="fa fa-times OverlayX" [magic]="mgc.bCancel"></i> <span class="BarTitle">Location Details </span> </div>
       
        <div class="form-group">

            <label class="Lbl" for="vStyle">Style</label>
            <input class="form-control" style="width:99%" [formControlName]="mgc.vStyle" [magic]="mgc.vStyle" 
              id="vStyle" />
      
            <label class="Lbl" for="vLocation">Location</label>
            <input class="form-control" style="width:99%" [formControlName]="mgc.vLocation" [magic]="mgc.vLocation" mgFormat
              id="vLocation" />
            <mgError [magic]=mgc.vLocation> Please fill Location</mgError>

        </div>
      
        <div class="ButtonsPane">
            <button class="btn btn-outline-primary ActionButton" accesskey="א" [magic]="mgc.bOK">
              Save
            </button>
            <button class="btn btn-outline-primary ActionButton" accesskey="ב" [magic]="mgc.bCancel">
              Cancel
            </button>
          </div>
</div>